@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

/* For mobile */
.link a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 50px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 5px;
}

.iconColor {
    color: white;
}

.listItem {
    margin: 0;
    padding: 0px 20px;
    border: 0;
}

.navBar {
    background: #49494b;
    min-height: 80px !important;
}

.expandNav {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px !important;
}

/* For desktop */
@media (min-width: 1000px) {
    .link a {
        font-size: 160%;
    }

    .navBar {
        min-height: unset;
    }
    
    .expandNav {
        margin-top: unset;
        margin-bottom: unset;
        padding: 10px 10px !important;
    }
}