@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* For mobile */
.link a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 60px;
    color: #49494b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

.navbar {
    background: white;
    min-height: 80px !important;
}

.logoSize {
    height: 80px;
    width: auto;
    padding: 10px;
}

.toggle {
    color: #49494b;
}

.brand {
    margin-left: 10px;
    font-size: 78px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 5px;
}

/* For desktop */
@media (min-width: 1000px) {
    .link a {
        font-size: 130%;
    }

    .justify-content-end {
        background: white;
        min-height: 80px !important;
    }
}