/* For desktop */
.fLink a {
    font-size: 120%;
    color: #404040;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    background: #edeff0;
}

@media (min-width: 1000px) {
    .footer {
    }
}