.iconColor {
    color: #404040;
    size: 2x;
}

.navBar {
    background: #edeff0;
}

/* For mobile navbar */
.link a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 190%;
    color: #404040;
    font-family: 'Courier New', Courier, monospace;
}

@media (min-width: 1000px) {
    .link a {
        font-size: 120%;
    }
}