/* For desktop */
.link a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 190%;
    color: #404040;
    font-family: 'Courier New', Courier, monospace;
}

/* For mobile */
@media (min-width: 1000px) {
    .link a {
        font-size: 120%;
    }
}

/* For old navbar */
.iconColor {
    color: #404040;
}

.navBar {
    background: #edeff0;
}