.firstColumn {
    margin-left: 170px;
}

.secondColumn {
    margin-left: 80px;
}

.hiddenColumn * {
    display: none;
}

@media (min-width: 800px) {
    .hiddenColumn * {
        display: inline;
        margin-right: 40px;
    }
}

.portfolioImg {
    float: right;
    object-fit: cover;
    width: 450px;
    height: 730px;
}
    
.flowerImg{
    float: right;
    width: 200px;
    height: 230px;
    margin-top: 400px;
}

.title {
    margin-top: 150px;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 2.5rem;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
}

.p {
    font-family: 'Courier New', Courier, monospace; 
    flex-wrap: wrap;
    margin-top: 12rem;
}