/* For mobile devices */
.firstColumn {
    margin-left: 140px;
    margin-right: 100px;
}

.secondColumn {
    display: none;
}

.hiddenColumn * {
    display: none;
}

.flowerImg{
    height: 230px;
    width: 200px;
}

.portfolioImg {
    display: none;
}

.boxLg {
    height: 230px;
    width: 200px;
    background-color: #c1cfd6;
}

.title {
    margin-top: 70px;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 1rem;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
}

.p {
    font-family: 'Courier New', Courier, monospace; 
    flex-wrap: wrap; 
    font-size: 20px;
    align-content: center;
}

/* For desktop devices */
@media (min-width: 1000px) {
    .firstColumn {
        margin-left: 170px;
        margin-right: 0px;
    }

    .secondColumn {
        display: unset;
        margin-left: 50px;
        margin-right: 0px;
    }

    .flowerImg{
        position: relative;
        margin-top: 400px;
    }

    .portfolioImg {
        display: unset;
        object-fit: cover;
        width: 450px;
        height: 730px;
    }

    .boxLg {
        position: absolute;
        margin-top: 140px;
    }

    .title {
        letter-spacing: 2.5rem;
    }

    .subtitle {
        font-size: 30px;
    }
    
    .p {
        font-size: unset;
    }
    
}

@media (min-width: 1500px) {
    .hiddenColumn * {
        display: inline;
        margin-right: 40px;
    }

    .p {
        font-family: 'Courier New', Courier, monospace; 
        flex-wrap: wrap;
        margin-top: 12rem;
    }
}