/* For mobile devices */
.firstColumn {
    margin-left: 100px;
    margin-right: 100px;
    max-width: 800px;
}

.secondColumn {
    display: none;
}

.hiddenColumn * {
    display: none;
}

.landscapeImg {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.title {
    margin-top: 150px;
    font-size: 90px;
    font-weight: 500;
    letter-spacing: 1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
    text-align: center;
}

.p {
    font-family: 'Courier New', Courier, monospace; 
    flex-wrap: wrap; 
    font-size: 35px;
    align-content: center;
}

.body {
    padding-bottom: 60px;
}

/* For desktop devices */
@media (min-width: 1000px) {
    .firstColumn {
        margin-left: 150px;
        margin-right: 0px;
    }

    .secondColumn {
        display: unset;
        height: 230px;
        width: 200px;
        margin-left: 50px;
        margin-right: 0px;
    }

    .flowerImg{
        position: relative;
        margin-top: 400px;
        height: 230px;
        width: 200px;
    }

    .portfolioImg {
        display: unset;
        object-fit: cover;
        margin-top: 20px;
        width: 450px;
        height: 730px;
    }

    .boxLg {
        position: absolute;
        height: 230px;
        width: 200px;
        margin-top: 140px;
        background-color: #F7C331;
    }

    .title {
        font-size: 80px;
        margin-top: 150px;
        letter-spacing: 2.5rem;
        text-align: left;
    }

    .subtitle {
        font-size: 30px;
        text-align: left;
    }
    
    .p {
        font-size: unset;
    }
    
}

@media (min-width: 1500px) {
    .hiddenColumn * {
        display: inline;
        margin-right: 40px;
    }

    .p {
        font-family: 'Courier New', Courier, monospace; 
        flex-wrap: wrap;
        margin-top: 0rem;
    }
}